*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	min-height: 100vh;
	position: relative;
}

body {
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 1px;
}

.heading-1 {
	font-size: 4rem;
	margin-bottom: 3rem;
}

.heading-2 {
	font-size: 3.6rem;
	margin: 4.8rem 0 3.2rem 0;
}

.heading-3 {
	font-size: 3.2rem;
}

.heading-4 {
	font-size: 2.6rem;
}

.heading-5 {
	font-size: 2.2rem;
}

.hidden {
	display: none !important;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
}
.search__input {
	font-family: inherit;
	font-size: 2.2rem;
	color: inherit;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	width: 48.6rem;
	height: 5rem;
	padding: 1rem;
	margin: 2rem 0;
}
.search__input:focus {
	outline: none;
	background-color: #fff;
}
.search__input::placeholder {
	font-weight: 300;
	font-size: inherit;
	color: #959595;
}
.search__btn {
	border: none;
	background: none;
	margin-left: -4.5rem;
	cursor: pointer;
}
.search__btn:focus {
	outline: none;
}
.search__icon {
	height: 3rem;
	width: 3rem;
	fill: #2196f3;
}

.ui-menu-item-wrapper {
	font-family: inherit;
	font-size: 1.6rem;
}

.btn:link,
.btn:visited {
	font-size: 2.2rem;
	font-weight: 500;
	text-decoration: none;
	background-color: #0069c0;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 1.5rem 2rem;
	display: inline-block;
	backface-visibility: hidden;
	transition: all 0.2s;
}

.btn:hover {
	transform: scale(1.1);
}

.btn__subscribe {
	margin-top: 3rem;
}

.btn__about {
	margin-left: 10rem;
}
.btn__about span {
	margin-left: 1rem;
}

.btn__menu {
	width: 7.8rem;
	height: 7rem;
	border: none;
	background: none;
	cursor: pointer;
}
.btn__menu--icon {
	width: 100%;
	height: 100%;
	fill: #2196f3;
}

.btn-icon {
	fill: #c4c4c4;
}

.btn-interest {
	width: 18rem;
	font-size: 1.6rem;
	color: #959595;
	background-color: #e5e5e5;
	border: none;
	border-radius: 5rem;
	padding: 1.3rem;
	cursor: pointer;
}
.btn-interest--choice {
	background-color: #2196f3;
	color: #fff;
}

.btn-submit {
	width: 58.8rem;
	font-size: 2.2rem;
	font-weight: 700;
	letter-spacing: 1.5px;
	background-color: #0069c0;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 1.5rem 2rem;
	backface-visibility: hidden;
	cursor: pointer;
	transition: all 0.2s;
}
.btn-submit:hover {
	transform: scale(1.1);
}

.btn-logout {
	font-size: 1.4rem;
	letter-spacing: 2px;
	background-color: #f6f6f6;
	border: none;
	border-radius: 5px;
	padding: 0.8rem;
	backface-visibility: hidden;
	cursor: pointer;
}
.btn-logout:hover {
	background-color: #c4c4c4;
	color: #fff;
}

.btn-withdrawal:link,
.btn-withdrawal:visited,
.btn-service:link,
.btn-service:visited {
	color: #000;
	font-size: 1.4rem;
}

.btn-withdrawal:hover,
.btn-withdrawal:active,
.btn-service:hover,
.btn-service:active {
	color: #fff;
}

.contents__box,
.list-contents__box {
	width: 28.2rem;
	cursor: pointer;
}
.contents__box__thumbnail,
.list-contents__box__thumbnail {
	width: 28.2rem;
	height: 28.2rem;
	margin-bottom: 2.2rem;
	border-radius: 5px;
}
.contents__box__description,
.list-contents__box__description {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}
.contents__box__description .hashtags,
.list-contents__box__description .hashtags {
	list-style: none;
	display: flex;
	margin-right: auto;
}
.contents__box__description .hashtags__item,
.list-contents__box__description .hashtags__item {
	font-size: 1.4rem;
	margin-right: 0.7rem;
}
.contents__box__description .btn-icon__like,
.contents__box__description .btn-icon__bookmark,
.list-contents__box__description .btn-icon__like,
.list-contents__box__description .btn-icon__bookmark {
	width: 3rem;
	height: 3rem;
}
.contents__box__description .btn-icon:not(:last-child),
.list-contents__box__description .btn-icon:not(:last-child) {
	margin-right: 0.3rem;
}
.contents__box__title,
.list-contents__box__title {
	font-size: 2.6rem;
	font-weight: 700;
	line-height: 1.3;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.my-contents__box {
	width: 58.8rem;
	border: none;
	border-radius: 1rem;
	box-shadow: 0 0.4rem 1.4rem #c4c4c4;
	padding: 0 2rem 2rem 2rem;
	display: grid;
	grid-template-rows: repeat(4, max-content);
	grid-template-columns: max-content 1fr min-content;
	grid-column-gap: 2.5rem;
}
.my-contents__box__btn-close {
	font-size: 2.2rem;
	font-weight: 900;
	color: #2196f3;
	text-decoration: none;
	grid-row: 1 / 2;
	grid-column: 3 / 4;
	display: block;
}
.my-contents__box__thumbnail {
	width: 18rem;
	height: 12.5rem;
	grid-row: 2 / span 3;
	grid-column: 1 / 2;
}
.my-contents__box__description {
	grid-row: 2 / span 3;
	grid-column: 2 / 3;
	align-self: center;
}
.my-contents__box__description__title {
	font-size: 2.2rem;
	font-weight: 700;
	line-height: 1.3;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.my-contents__box__description__hashtags {
	list-style: none;
	display: flex;
}
.my-contents__box__description__hashtags--item {
	font-size: 1.4rem;
	margin-right: 0.7rem;
}

.category {
	width: 120rem;
	margin: 6.4rem 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.category__box {
	margin: 0 2rem;
	text-align: center;
	position: relative;
}
.category__box__img {
	width: 18rem;
	height: 18rem;
	filter: brightness(0.7);
}
.category__box__name:link,
.category__box__name:visited {
	font-size: 2.2rem;
	font-weight: 400;
	text-decoration: none;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.2s;
}
.category__box__name:hover,
.category__box__name:active {
	font-size: 2.6rem;
	font-weight: 500;
}

.banner {
	width: 120rem;
	height: 30rem;
	margin: 6.4rem auto;
}

.banner__event {
	background-image: url(/resources/img/banner-event.png);
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
.banner__event__description {
	display: inline-block;
	font-weight: 700;
	margin-left: 20rem;
}
.banner__event__description--name {
	font-size: 2.2rem;
	margin-top: 3.2rem;
}
.banner__event__description--title {
	font-size: 3.6rem;
	margin: 2.6rem 0;
}
.banner__event__description--duration,
.banner__event__description--participants {
	font-size: 1.6rem;
}

.banner__about {
	background-image: url(/resources/img/banner-about.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.banner__about__title {
	display: inline-block;
	margin: 5rem 40rem 2.6rem 10rem;
}

.main-slider .slider {
	width: 120rem;
	margin: 0 auto;
}
.main-slider .slider .slide {
	width: 100%;
	padding: 2rem;
	display: flex;
	justify-content: center;
}
.main-slider .slider .slide__img {
	width: 30rem;
	height: 30rem;
}
.main-slider .slider .slide__description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 4.4rem;
}
.main-slider .slider .slide__description__name {
	font-size: 2.6rem;
	font-weight: 500;
}
.main-slider .slider .slide__description__title {
	margin: 2.5rem 0;
}
.main-slider .slider .slide__description__hashtags--list {
	list-style: none;
	display: flex;
}
.main-slider .slider .slide__description__hashtags--item {
	font-size: 1.6rem;
	flex: 0 0 15%;
}

.recommend-slider .slider {
	width: 120rem;
	margin: 0 auto;
}

.recommend-slider .slide {
	width: 100%;
	display: flex;
}
.recommend-slider .slide__img {
	width: 26rem;
	height: 100%;
}
.recommend-slider .slide__description {
	padding-left: 1.6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.recommend-slider .slide__description__title {
	overflow-wrap: break-word;
	margin-bottom: 1rem;
}
.recommend-slider .slide__description__hashtags--list {
	list-style: none;
	display: flex;
}
.recommend-slider .slide__description__hashtags--item {
	font-size: 1.6rem;
	flex: 0 0 30%;
}

.card {
	width: 58.8rem;
	background-color: #fff;
	border: none;
	border-radius: 1rem;
	box-shadow: 0 0.4rem 1.4rem #c4c4c4;
	padding: 2rem;
	margin-bottom: 4.8rem;
	display: grid;
	grid-template: repeat(5, max-content) / repeat(2, max-content);
	justify-content: space-around;
	align-content: center;
}
.card__label {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	text-align: left;
	padding-top: 0.5rem;
}
.card__label span {
	font-size: 1.2rem;
	color: #fff;
	background-color: #ec652b;
	border: none;
	border-radius: 3rem;
	padding: 0.5rem 1.8rem;
}
.card__price {
	margin-bottom: 1.2rem;
	grid-row: 2 / 3;
}
.card__month {
	font-size: 2.2rem;
	grid-row: 3 / 4;
}
.card__discount {
	width: 10.5rem;
	height: 10.5rem;
	background-color: #0069c0;
	border: none;
	border-radius: 50%;
	grid-row: 2 / 4;
	grid-column: 2 / -1;
	display: inline-block;
	position: relative;
	justify-self: center;
}
.card__discount span {
	color: #fff;
	font-size: 3.6rem;
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.card__line {
	background-color: #e5e5e5;
	grid-row: 4 / 5;
	grid-column: 1 / -1;
	margin: 1rem 0;
}
.card__notice {
	font-size: 1.6rem;
	grid-row: 5 / 6;
	align-self: center;
}
.card__btn {
	font-size: 1.6rem;
	padding: 0.8rem 1.6rem;
	grid-row: 5 / 6;
	grid-column: 2 / -1;
}

.coupon__box {
	width: 51rem;
	height: 16.3rem;
	padding: 1rem;
	background-image: url(/resources/img/coupon.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template: repeat(4, 1fr) / max-content min-content;
	justify-content: space-around;
	align-items: center;
}
.coupon__box__name {
	font-size: 1.6rem;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}
.coupon__box__title {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}
.coupon__box__duration {
	font-size: 1.4rem;
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}
.coupon__box__notice {
	font-size: 1.2rem;
	grid-row: 4 / 5;
	grid-column: 1 / 2;
}
.coupon__box__use:link,
.coupon__box__use:visited {
	font-size: 2.2rem;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	grid-row: 2 / span 2;
	grid-column: 2 / -1;
}
.coupon__box__use:hover,
.coupon__box__use:active {
	color: #c4c4c4;
}

.floating-bar {
	width: 4.8rem;
	height: 14rem;
	background-color: #f6f6f6;
	border: none;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.floating-bar__item {
	width: 100%;
}
.floating-bar__item--top,
.floating-bar__item--bottom {
	width: 4rem;
	height: 3rem;
}
.floating-bar__item--home {
	width: 3rem;
	height: 3rem;
}

.modal-window__box {
	width: 50.2rem;
	background-color: #fff;
	border: none;
	border-radius: 3px;
	padding: 1.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modal-window__box__btn--close {
	color: #000;
	font-size: 3.6rem;
	background: none;
	border: none;
	cursor: pointer;
	align-self: flex-end;
}
.modal-window__box__title {
	font-weight: 700;
	margin-bottom: 1.7rem;
}
.modal-window__box__text {
	margin-bottom: 3.6rem;
}
.modal-window__box__btn--mypage {
	font-size: 1.6rem !important;
	padding: 1rem !important;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
	z-index: 5;
}

.header__box {
	width: 120rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__box__logo {
	width: 18rem;
	height: 7rem;
	cursor: pointer;
}
.header__box .search {
	margin-right: auto;
}
.header__box .user-nav {
	width: 18rem;
	text-align: center;
	position: relative;
	z-index: 10;
}
.header__box .user-nav__sub {
	width: 100%;
	list-style: none;
	position: absolute;
	top: 130%;
}
.header__box .user-nav__sub__item {
	background-color: #e5e5e5;
	height: 5rem;
}
.header__box .user-nav__sub__item:not(:last-child) {
	border-bottom: 5px solid #fff;
}
.header__box .user-nav__link:link,
.header__box .user-nav__link:visited {
	padding: 0.5rem;
	font-size: 2.6rem;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3px;
	display: inline-block;
}
.header__box .menu-nav {
	position: relative;
}
.header__box .menu-nav__sub {
	list-style: none;
	width: 18rem;
	position: absolute;
	right: 15%;
	z-index: 10;
}
.header__box .menu-nav__sub__item {
	background-color: #2196f3;
}
.header__box .menu-nav__sub__item:not(:last-child) {
	border-bottom: 2px solid #fff;
}
.header__box .menu-nav__sub__link:link,
.header__box .menu-nav__sub__link:visited {
	width: 100%;
	height: 100%;
	padding: 1rem;
	text-decoration: none;
	color: #fff;
	font-size: 2.2rem;
	letter-spacing: 2px;
	font-weight: 500;
	display: inline-block;
	background-image: linear-gradient(
		115deg,
		transparent 0%,
		transparent 50%,
		#fff 50%
	);
	background-size: 250%;
	transition: all 0.4s;
}
.header__box .menu-nav__sub__link:hover,
.header__box .menu-nav__sub__link:active {
	background-position: 100%;
	color: #2196f3;
}

.hero {
	display: flex;
	justify-content: space-between;
}
.hero__text {
	margin: 3rem;
	padding: 2rem;
}
.hero__text .paragraph {
	font-size: 2.2rem;
}

.list-nav {
	width: 18rem;
}
.list-nav__main-menu {
	background-color: #2196f3;
}
.list-nav__main-menu__link:link,
.list-nav__main-menu__link:visited {
	width: 100%;
	text-decoration: none;
	color: #fff;
	font-size: 2.2rem;
	font-weight: 700;
	letter-spacing: 3px;
	padding: 0.8rem 0 0.8rem 2.8rem;
	display: inline-block;
}
.list-nav__main-menu__link:hover,
.list-nav__main-menu__link:active {
	background-color: #6ec6ff;
}
.list-nav__main-menu__link.default-open {
	background-color: #6ec6ff;
}
.list-nav__sub-menu {
	background-color: #f6f6f6;
}
.list-nav__sub-menu__item {
	list-style: none;
}
.list-nav__sub-menu__link {
	width: 100%;
	text-decoration: none;
	color: #000;
	font-size: 1.6rem;
	font-weight: 500;
	padding: 0.8rem 0 0.8rem 2.8rem;
	display: inline-block;
}

.footer {
	background-color: #00203b;
	color: #fff;
}
.footer__nav {
	font-size: 1.6rem;
	font-weight: 500;
	margin-left: 37.5rem;
	padding: 3.7rem 0;
	display: flex;
	align-items: center;
}
.footer__list {
	list-style: none;
}
.footer__item {
	display: inline-block;
}
.footer__item:not(:last-child) {
	margin-right: 4rem;
}
.footer__link:link,
.footer__link:visited {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	transition: all 0.2s;
}
.footer__link:hover,
.footer__link:active {
	color: #6ec6ff;
}
.footer__box {
	display: flex;
}
.footer__box--logo {
	align-items: center;
	padding: 2rem 0;
	margin-left: 37rem;
	display: flex;
	align-content: center;
}
.footer__box--logo span {
	font-size: 1.2rem;
	margin-left: 0.8rem;
}
.footer__box--sns {
	display: inline-block;
	align-self: center;
	margin-left: 35rem;
}
.footer__sns__icon {
	width: 2rem;
	height: 2rem;
	fill: #fff;
	cursor: pointer;
}
.footer__sns__icon:not(:last-child) {
	margin-right: 3rem;
}
.footer__text,
.footer__copyright {
	margin-left: 37rem;
}
.footer__text:not(:last-child),
.footer__copyright:not(:last-child) {
	margin-bottom: 1.5rem;
}

.contents {
	width: 120rem;
	display: grid;
	grid-template: repeat(2, min-content) / repeat(4, 1fr);
	grid-column-gap: 2.4rem;
	grid-row-gap: 3.5rem;
}

.list-contents {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	grid-column-gap: 2.4rem;
	grid-row-gap: 6.4rem;
}

.header {
	margin: 2rem 0;
	font-size: 1.6rem;
}

.hero {
	width: 120rem;
	min-height: 40rem;
	margin: 7rem auto 0 auto;
}

.main-slider {
	background-color: rgba(110, 198, 255, 0.2);
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	height: 25rem;
}

.login {
	display: grid;
	grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
}
.login__box {
	grid-column: 2 / 3;
	display: grid;
	grid-template-rows: 30vh repeat(2, min-content);
	justify-content: center;
	align-content: center;
	grid-row-gap: 2rem;
	padding: 0 2rem;
}
.login__box__logo {
	justify-self: center;
	align-self: center;
	cursor: pointer;
}
.login__box__input {
	display: grid;
	grid-row-gap: 0.6rem;
}
.login__box__input--id,
.login__box__input--pw {
	width: 58.8rem;
	outline: none;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	background-color: #f6f6f6;
	font-size: 2.2rem;
	font-family: inherit;
	padding: 1.5rem;
}
.login__box__input--id::placeholder,
.login__box__input--pw::placeholder {
	color: #959595;
}
.login__box__input--default {
	text-align: center;
	margin-top: 2.6rem;
	margin-bottom: 1.5rem;
}
.login__box__input .find {
	font-size: 1.6rem;
}
.login__box__social::before {
	content: "";
	height: 2px;
	display: block;
	background-color: #959595;
}
.login__box__social {
	display: grid;
	grid-row-gap: 1.5rem;
}
.login__box__social--kakao,
.login__box__social--google {
	width: 58.8rem;
	height: 7rem;
	text-align: center;
	position: relative;
}
.login__box__social--kakao span,
.login__box__social--google span {
	position: absolute;
	left: 2.4rem;
}
.login__box__social--kakao {
	background-color: #ffe812 !important;
	color: #000 !important;
}
.login__box__social--google {
	background-color: #db4437 !important;
}
.login__box__signup {
	font-size: 2.2rem;
	justify-self: center;
}
.login__box__signup span {
	margin-left: 1.6rem;
}
.login__box__signup span a {
	text-decoration: none;
	color: #000;
	font-weight: 700;
}

.signup {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.signup .form {
	display: grid;
	grid-row-gap: 1.5rem;
}
.signup .form__label {
	font-size: 2.2rem;
	font-weight: 500;
	display: block;
	margin-bottom: 0.5rem;
}
.signup .form__input {
	width: 58.8rem;
	outline: none;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	background-color: #f6f6f6;
	font-size: 2.2rem;
	font-family: inherit;
	padding: 1.5rem;
}
.signup .form__input::placeholder {
	color: #959595;
}
.signup .form .interest .form__label {
	margin-top: 4.8rem;
}
.signup .form .interest__box {
	display: grid;
	grid-template: repeat(5, min-content) / repeat(3, min-content);
	grid-gap: 2.4rem;
	margin-top: 1.6rem;
}
.signup .form .agreement .form__label {
	margin-top: 4.8rem;
}
.signup .form .agreement .form__label::after {
	content: "";
	width: 58.8rem;
	height: 1.3px;
	display: block;
	background-color: #c4c4c4;
	margin-top: 0.5rem;
	margin-bottom: 2rem;
}
.signup .form .agreement .all,
.signup .form .agreement .require,
.signup .form .agreement .option {
	transform: scale(1.5);
	margin-right: 0.5rem;
}
.signup .form .agreement__box {
	display: grid;
	grid-row-gap: 1.4rem;
	font-size: 1.6rem;
}
.signup .form .agreement__box__checkbox {
	width: 58.8rem;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	padding: 1.2rem;
}
.signup .form .agreement .require + span {
	color: red;
}
.signup .form .agreement .paragraph {
	font-size: 1.2rem;
	color: #959595;
	padding: 1.5rem;
}
.signup .form .btn-signup {
	margin: 9rem 0;
}

.main__about {
	display: grid;
	grid-template-rows: 70rem repeat(4, min-content) 1fr;
}
.main__about .section__hero {
	background-color: rgba(110, 198, 255, 0.5);
	display: flex;
	justify-content: center;
	position: relative;
}
.main__about .section__hero__box {
	width: 120rem;
	height: 100%;
	background-image: url("/resources/img/logo-hero.png");
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}
.main__about .section__hero__box--title {
	position: absolute;
	top: 20%;
	right: 20%;
}
.main__about .section-content {
	display: flex;
	justify-content: center;
	padding: 18rem 0;
}
.main__about .section-content__box {
	width: 120rem;
	display: flex;
}
.main__about .section-content__box__text {
	padding: 5rem;
	justify-self: center;
	align-self: center;
}
.main__about .section-content__box__text--title {
	margin-bottom: 3.5rem;
}
.main__about .section-content__box__text--description {
	font-size: 2.6rem;
}
.main__about .section-features {
	background-color: #2196f3;
	padding: 14rem 0;
	text-align: center;
}
.main__about .section-features__container {
	width: 120rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
}
.main__about .section-features__box__img {
	background-color: #fff;
	width: 28.4rem;
	height: 28.4rem;
	border: none;
	border-radius: 50%;
	position: relative;
}
.main__about .section-features__box__img .section-features__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.main__about .section-features__box__text {
	font-size: 2.6rem;
	font-weight: 500;
	margin-top: 3.5rem;
	color: #fff;
}
.main__about .section-subscribe {
	padding: 9rem 0;
	text-align: center;
}
.main__about .section-subscribe .btn-subscribe {
	width: 70.4rem;
	height: 12.7rem;
	font-size: 3.6rem;
	padding: 4rem 9rem;
}

.main__subscribe .section-hero {
	background-color: rgba(229, 229, 229, 0.3);
}
.main__subscribe .section-hero__box {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	grid-column-gap: 13.6rem;
	justify-content: center;
	padding: 9rem 0;
}
.main__subscribe .section-hero__box__description--sub-title {
	font-weight: 500;
}
.main__subscribe .section-hero__box__description--title {
	margin-bottom: 6.3rem;
}
.main__subscribe .section-hero__box__description--text {
	font-size: 2.2rem;
}
.main__subscribe .section-hero__box__img {
	grid-column: 2 /-1;
	align-self: end;
}

.main__subscribe .section-content {
	background-color: #6ec6ff;
	padding: 6rem 0;
}
.main__subscribe .section-content__container {
	text-align: center;
	position: relative;
}
.main__subscribe .section-content__container__sub-title {
	font-weight: 500;
	margin-bottom: 6.6rem;
	line-height: 2;
}
.main__subscribe .section-content__container__cards {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__event .section-hero {
	background-color: #ec652b;
	padding: 2.5rem 0;
}
.main__event .section-hero__box {
	width: 120rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.main__event .section-hero__box__description {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main__event .section-hero__box__description--name {
	font-size: 2.2rem;
	font-weight: 500;
	margin-bottom: 1.7rem;
}
.main__event .section-hero__box__description--duration {
	margin-bottom: 5rem;
}
.main__event .section-hero__box__description--duration span {
	background-color: #000;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 2px;
	border: none;
	border-radius: 1rem;
	padding: 0.6rem;
}
.main__event .section-hero__box__description--text {
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 1.8;
	margin-bottom: 8.8rem;
}
.main__event .section-hero__box__description--notice {
	font-size: 1.2rem;
}

.main__event .section-content .event-code {
	display: grid;
	grid-template: repeat(2, 1fr) min-content/max-content;
	grid-row-gap: 2rem;
	padding: 3.6rem;
	box-shadow: 0 0.2rem 1.7rem #e5e5e5;
	justify-content: center;
	align-items: center;
	justify-items: center;
	margin-bottom: 5rem;
}
.main__event .section-content .event-code__title {
	color: #ec652b;
	font-size: 2.2rem;
	justify-self: center;
}
.main__event .section-content .event-code__input {
	width: 24.4rem;
	outline: none;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	background-color: #f6f6f6;
	font-size: 1.6rem;
	font-family: inherit;
	padding: 1.5rem;
	display: inline-block;
}
.main__event .section-content .event-code__btn {
	width: 24.4rem;
	font-size: 1.6rem;
	background-color: #ec652b;
	border-radius: 3rem;
}

.main__event .section-content .event-container {
	margin-bottom: 9rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main__event .section-content .event-container__title {
	font-size: 2.6rem;
	color: #c4c4c4;
	margin-bottom: 4rem;
}
.main__event .section-content .event-container .event-step:not(:last-child) {
	margin-bottom: 3rem;
}
.main__event .section-content .event-container .event-step__caption {
	color: #ec652b;
	font-size: 1.6rem;
	text-align: center;
}
.main__event .section-content .event-container .event-step__box {
	width: 53.9rem;
	border: 2px solid #ec652b;
	border-radius: 1rem;
	padding: 2.5rem;
	display: inline-block;
}
.main__event .section-content .event-container .event-step__box--title {
	font-size: 2.2rem;
	font-weight: 700;
	margin-bottom: 1.3rem;
}
.main__event .section-content .event-container .event-step__box--description {
	font-size: 1.6rem;
}
.main__event .section-content .event-container .event-step__box--notice {
	color: #959595;
	font-size: 1.2rem;
	margin-top: 1.3rem;
}

.main__mypage .section-user {
	margin-top: 11.3rem;
}
.main__mypage .section-user__user-info {
	width: 120rem;
	margin: 0 auto;
	background-color: rgba(110, 198, 255, 0.3);
	padding: 2.5rem;
	display: grid;
	grid-template: repeat(2, min-content) / repeat(4, max-content);
	grid-row-gap: 1.5rem;
	grid-column-gap: 3rem;
	justify-content: center;
}
.main__mypage .section-user__user-info__profile {
	width: 8rem;
	height: 8rem;
	background-color: #fff;
	display: inline-block;
	border: none;
	border-radius: 50%;
	position: relative;
	padding: 0.7rem;
	grid-row: 1 / 3;
	grid-column: 1 / 2;
}
.main__mypage .section-user__user-info__profile--icon {
	width: 100%;
	height: 100%;
	fill: #959595;
}
.main__mypage .section-user__user-info__welcome--name {
	margin-bottom: 0.5rem;
}
.main__mypage .section-user__user-info__welcome--text {
	font-size: 2.2rem;
	font-weight: 500;
}
.main__mypage .section-user__user-info__btn--logout {
	grid-row: 1 / 2;
	grid-column: 4 / 5;
	align-self: center;
}
.main__mypage .section-user__user-info__btn--withdrawal {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
}
.main__mypage .section-user__user-info__btn--service {
	grid-row: 2 / 3;
	grid-column: 4 / 5;
	justify-self: start;
}
.main__mypage .section-user__user-nav {
	margin: 3rem;
}
.main__mypage .section-user__user-nav__list {
	list-style: none;
	display: flex;
	justify-content: center;
}
.main__mypage .section-user__user-nav__item:link,
.main__mypage .section-user__user-nav__item:visited {
	color: #000;
	font-size: 2.2rem;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 3px;
}
.main__mypage .section-user__user-nav__item:hover,
.main__mypage .section-user__user-nav__item:active {
	font-weight: 700;
	padding-bottom: 0.8rem;
	border-bottom: 4px solid #2196f3;
}
.main__mypage .section-user__user-nav__item--line {
	font-size: 2.2rem;
	font-weight: 900;
	margin: 0 2rem;
}
.main__mypage .section-user__user-nav .default-open {
	font-weight: 700;
	padding-bottom: 0.8rem;
	border-bottom: 4px solid #2196f3;
}

.main__mypage .section-content {
	padding-bottom: 9rem;
}
.main__mypage .section-content .article__edit-info {
	display: grid;
	grid-template-columns: max-content;
	justify-content: center;
}
.main__mypage .section-content .article__edit-info__title {
	margin: 4.8rem 0;
}
.main__mypage .section-content .article__edit-info .form__edit {
	display: grid;
	grid-row-gap: 1.5rem;
}
.main__mypage .section-content .article__edit-info .form__edit__label {
	font-size: 2.2rem;
	font-weight: 500;
	display: block;
	margin-bottom: 0.5rem;
}
.main__mypage .section-content .article__edit-info .form__edit__input {
	width: 58.8rem;
	outline: none;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	background-color: #f6f6f6;
	font-size: 2.2rem;
	font-family: inherit;
	padding: 1.5rem;
}
.main__mypage
	.section-content
	.article__edit-info
	.form__edit__input::placeholder {
	color: #959595;
}
.main__mypage
	.section-content
	.article__edit-info
	.form__edit
	.interest
	.form__edit__label {
	margin-top: 4.8rem;
}
.main__mypage .section-content .article__edit-info .form__edit .interest__box {
	display: grid;
	grid-template: repeat(5, min-content) / repeat(3, min-content);
	grid-gap: 2.4rem;
	margin-top: 1.6rem;
}
.main__mypage .section-content .article__edit-info .form__edit__btn {
	margin: 9rem 0;
}
.main__mypage .section-content .article__my-subscribe {
	display: grid;
	grid-template-columns: max-content;
	justify-content: center;
}
.main__mypage .section-content .article__my-subscribe__title {
	margin: 4.8rem 0;
}
.main__mypage .section-content .article__my-subscribe__card {
	margin: 1.6rem 0;
}
.main__mypage .section-content .article__my-subscribe__date {
	width: 58.8rem;
	font-size: 1.6rem;
	display: flex;
	justify-content: space-around;
}
.main__mypage .section-content .article__my-subscribe__date--start strong,
.main__mypage .section-content .article__my-subscribe__date--end strong {
	margin-right: 2rem;
}
.main__mypage .section-content .article__my-subscribe__btn {
	width: 58.8rem;
	margin: 9rem 0;
	text-align: center;
}
.main__mypage .section-content .article__my-contents,
.main__mypage .section-content .article__coupon {
	display: grid;
	grid-template-columns: max-content;
	justify-content: center;
}
.main__mypage .section-content .article__my-contents__title,
.main__mypage .section-content .article__coupon__title {
	margin-top: 4.8rem;
	margin-bottom: 1.6rem;
}
.main__mypage .section-content .article__coupon__title {
	margin-bottom: 3.2rem;
}

.main__list {
	display: grid;
	grid-template: 0 / repeat(3, 1fr);
}
.main__list .floating-bar {
	grid-column: 3 / -1;
	justify-self: center;
	margin-top: 10rem;
}
.main__list__container {
	width: 120rem;
	margin: 0 auto;
	margin-top: 11.3rem;
	padding-bottom: 9rem;
	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: repeat(3, max-content);
	grid-column-gap: 6.6rem;
}
.main__list .list-nav {
	grid-column: 1 / 2;
}
.main__list .select__contents-order-select {
	background-color: #fff;
	overflow: hidden;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
	box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1);
	display: inline-block;
	transform: translate(370%, -35%);
}
.main__list .select__contents-order-select:focus,
.main__list .select__contents-order-select:hover {
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.main__list .select__contents-order-select select {
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
	outline: none;
	color: #2196f3;
	font-family: inherit;
	font-size: 1.6rem;
	cursor: pointer;
	padding: 0.5rem;
}
.main__list .select__contents-order-select select option:disabled {
	color: #c4c4c4;
}
.main__list .section-all {
	grid-column: 2 / -1;
}
.main__list .section-all__title {
	margin-bottom: 4.8rem;
}
.main__list .section-subject {
	grid-column: 2 / -1;
}
.main__list .section-subject__title {
	margin-bottom: 4.8rem;
}
.main__list .section-subject__sub-title {
	font-weight: 500;
	margin-top: 4.8rem;
}
.main__list .section-subject__sub-title::after {
	content: "";
	width: 89.4rem;
	height: 2px;
	background-color: #c4c4c4;
	display: block;
	margin: 1rem 0 4.8rem 0;
}
.main__list .section-age {
	grid-column: 2 / -1;
}
.main__list .section-age__title {
	margin-bottom: 4.8rem;
}
.main__list .section-age__sub-title {
	font-weight: 500;
	margin-top: 4.8rem;
}
.main__list .section-age__sub-title::after {
	content: "";
	width: 89.4rem;
	height: 2px;
	background-color: #c4c4c4;
	display: block;
	margin: 1rem 0 4.8rem 0;
}
.main__list .section-theme {
	grid-column: 2 / -1;
}
.main__list .section-theme__title {
	margin-bottom: 4.8rem;
}
.main__list .section-theme__sub-title {
	font-weight: 500;
	margin-top: 4.8rem;
}
.main__list .section-theme__sub-title::after {
	content: "";
	width: 89.4rem;
	height: 2px;
	background-color: #c4c4c4;
	display: block;
	margin: 1rem 0 4.8rem 0;
}

.main__detail .section-hero {
	background-color: rgba(110, 198, 255, 0.4);
	min-height: 30rem;
	padding: 2rem 0;
}
.main__detail .section-hero__box {
	width: 120rem;
	margin: 0 auto;
}
.main__detail .section-hero__box__title {
	margin-top: 2.4rem;
}
.main__detail .section-hero__box__hashtags {
	list-style: none;
	display: flex;
}
.main__detail .section-hero__box__hashtags--item {
	font-size: 2.2rem;
	flex: 0 0 10%;
}
.main__detail .section-hero__box__description {
	margin-top: 5.2rem;
	letter-spacing: 3px;
	display: flex;
}
.main__detail .section-hero__box__description--duration {
	font-size: 2.2rem;
	flex: 0 0 20%;
}
.main__detail .section-hero__box__description--editor {
	font-size: 2.2rem;
	margin-right: auto;
}
.main__detail .section-hero__box__description--editor svg {
	width: 2.4rem;
	height: 2.4rem;
	transform: rotate(270deg);
	fill: #0069c0;
}
.main__detail .section-hero__box__description--features {
	width: 25rem;
	display: flex;
	justify-content: space-between;
}
.main__detail .section-hero__box__description--features--like,
.main__detail .section-hero__box__description--features--bookmark,
.main__detail .section-hero__box__description--features--view {
	font-size: 1.6rem;
	flex: 0 0 15%;
	display: flex;
}
.main__detail .section-hero__box__description--features--like svg,
.main__detail .section-hero__box__description--features--bookmark svg,
.main__detail .section-hero__box__description--features--view svg {
	width: 2.4rem;
	height: 2.4rem;
	fill: #0069c0;
	margin-right: 0.5rem;
}

.main__detail .section-content__container {
	width: 120rem;
	margin: 0 auto;
}
.main__detail .section-content__container__thumbnail {
	margin: 6.4rem 0;
}
.main__detail .section-content__container .article__contents-detail__title {
	margin-bottom: 5rem;
}
.main__detail .section-content__container .article__contents-detail__paragraph {
	font-size: 2.2rem;
	margin-bottom: 4rem;
}
.main__detail .section-content__container .article__contents-detail__img {
	margin: 7rem 0;
	text-align: center;
}
.main__detail
	.section-content__container
	.article__contents-detail__img
	figcaption {
	margin-top: 0.3rem;
	font-size: 2.6rem;
}
.main__detail .section-content__container .article__contents-detail__recommend {
	width: 120rem;
	min-height: 40rem;
}
.main__detail
	.section-content__container
	.article__contents-detail__recommend--title {
	margin-bottom: 4.8rem;
}
.main__detail
	.section-content__container
	.article__contents-detail__recommend--title::before {
	content: "";
	height: 3px;
	background-color: #c4c4c4;
	display: block;
	margin: 4.8rem 0;
}
