// COLORS
$color-blue-light-1: #6ec6ff;
$color-blue-light-2: #2196f3;
$color-blue-dark-1: #0069c0;
$color-blue-dark-2: #00203b;

$color-black: #000000;

$color-grey-light-1: #e5e5e5;
$color-grey-light-2: #c4c4c4;
$color-grey-dark-1: #959595;

$color-orange: #ec652b;
