.header {
  margin: 3.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 18rem;
    height: 7rem;
  }

  .search {
    margin-right: auto;
  }

  .user-nav {
    text-decoration: none;
    &__menu {
      list-style: none;
      &__item {
        text-transform: uppercase;
      }
    }
  }

  &-menu {
    &__icon {
      width: 7rem;
      height: 7rem;
      fill: $color-blue-light-2;
    }
  }
}
