.list-nav {
  width: 18rem;

  &__main-menu {
    background-color: $color-blue-light-2;

    &__link {
      width: 100%;
      text-decoration: none;
      color: #fff;
      font-size: $font-medium-2;
      font-weight: 700;
      letter-spacing: 3px;
      padding: 0.8rem 0 0.8rem 2.8rem;
      display: inline-block;
    }
  }

  &__sub-menu {
    background-color: $color-grey-light-0;
    &__item {
      list-style: none;
    }

    &__link {
      width: 100%;
      text-decoration: none;
      color: #000;
      font-size: $font-default;
      font-weight: 500;
      padding: 0.8rem 0 0.8rem 2.8rem;
      display: inline-block;
    }
  }
}
