.btn {
  &:link,
  &:visited {
    font-size: $font-medium-2;
    font-weight: 500;
    text-decoration: none;
    background-color: $color-blue-dark-1;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1.5rem 2rem;
    display: inline-block;
    backface-visibility: hidden;
    transition: all 0.2s;
  }

  &:hover {
    transform: scale(1.1);
  }

  &__subscribe {
    margin-top: 3rem;
  }

  &__about {
    margin-left: 10rem;

    span {
      margin-left: 1rem;
    }
  }

  &__menu {
    width: 7.8rem;
    height: 7rem;
    border: none;
    background: none;
    cursor: pointer;

    &--icon {
      width: 100%;
      height: 100%;
      fill: $color-blue-light-2;
    }
  }
}

.btn-icon {
  fill: $color-grey-light-2;
}
