.btn {
  &:link,
  &:visited {
    font-size: $font-medium-2;
    font-weight: 500;
    background-color: $color-blue-dark-1;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1.5rem 2rem;
    display: inline-block;
    backface-visibility: hidden;
    transition: all 0.2s;
  }

  &:hover {
    transform: scale(1.1);
  }

  &__subscribe {
    text-decoration: none;
    margin-top: 3rem;
  }
}
