.coupon__box {
  width: 51rem;
  height: 16.3rem;
  padding: 1rem;
  background-image: url(/resources/img/coupon.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template: repeat(4, 1fr) / max-content min-content;
  justify-content: space-around;
  align-items: center;

  &__name {
    font-size: $font-default;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  &__title {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  &__duration {
    font-size: $font-small-1;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  &__notice {
    font-size: $font-small-2;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }

  &__use:link,
  &__use:visited {
    font-size: $font-medium-2;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    grid-row: 2 / span 2;
    grid-column: 2 / -1;
  }

  &__use:hover,
  &__use:active {
    color: $color-grey-light-2;
  }
}
