.search {
<<<<<<< HEAD
  flex: 0 0 50%;

  display: flex;
  &__input {
    font-family: inherit;
    color: inherit;
=======
	flex: 0 0 45%;
	&__input {
		font-family: inherit;
		color: inherit;
>>>>>>> 6a3a96a5e7206dce0309ce53fda635bc1ea3852d

		&:focus {
			outline: none;
		}
	}

<<<<<<< HEAD
  &__button {
    border: none;

    &:focus {
      outline: none;
    }
  }
=======
	&__btn {
		border: none;
>>>>>>> 6a3a96a5e7206dce0309ce53fda635bc1ea3852d

		:focus {
			outline: none;
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;
	}
}
