.search {
	flex: 0 0 45%;
	&__input {
		font-family: inherit;
		color: inherit;

		&:focus {
			outline: none;
		}
	}

	&__btn {
		border: none;

		:focus {
			outline: none;
		}
	}

	&__icon {
		height: 2rem;
		width: 2rem;
	}
}
