.main__detail {
  .section-hero {
    background-color: rgba($color-blue-light-1, 0.4);
    min-height: 30rem;
    padding: 2rem 0;

    &__box {
      width: 120rem;
      margin: 0 auto;

      &__title {
        margin-top: 2.4rem;
      }

      &__hashtags {
        list-style: none;
        display: flex;
        &--item {
          font-size: $font-medium-2;
          flex: 0 0 10%;
        }
      }

      &__description {
        margin-top: 5.2rem;
        letter-spacing: 3px;

        display: flex;

        &--duration {
          font-size: $font-medium-2;
          flex: 0 0 20%;
        }

        &--editor {
          font-size: $font-medium-2;
          margin-right: auto;

          svg {
            width: 2.4rem;
            height: 2.4rem;
            transform: rotate(270deg);
            fill: $color-blue-dark-1;
          }
        }

        &--features {
          width: 25rem;
          display: flex;
          justify-content: space-between;

          &--like,
          &--bookmark,
          &--view {
            font-size: $font-default;
            flex: 0 0 15%;
            display: flex;

            svg {
              width: 2.4rem;
              height: 2.4rem;
              fill: $color-blue-dark-1;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }

  .section-content {
    &__container {
      width: 120rem;
      margin: 0 auto;

      &__thumbnail {
        margin: 6.4rem 0;
      }

      .article__contents-detail {
        &__title {
          margin-bottom: 5rem;
        }

        &__paragraph {
          font-size: $font-medium-2;
          margin-bottom: 4rem;
        }

        &__img {
          margin: 7rem 0;
          text-align: center;

          figcaption {
            margin-top: 0.3rem;
            font-size: $font-medium-1;
          }
        }

        &__recommend {
          width: 120rem;
          min-height: 40rem;

          &--title {
            margin-bottom: 4.8rem;
          }

          &--title::before {
            content: "";
            height: 3px;
            background-color: $color-grey-light-2;
            display: block;
            margin: 4.8rem 0;
          }
        }
      }
    }
  }
}
