.header {
  width: 120rem;
  height: 7rem;
  font-size: 1.6rem;
  color: $color-grey-dark-1;
}

.hero {
  width: 120rem;
  min-height: 40rem;
  margin: 7rem auto 0 auto;
}

.main {
  width: 120rem;
  margin: 0 auto;
  display: inline-block;
}

.section-slider {
  background-color: rgba($color-blue-light-1, 0.2);
  height: 41.8rem;
}

.section-new {
  background-color: yellow;
  height: 177.4rem;
}

.section-category {
  background-color: yellowgreen;
  height: 30.8rem;
}

.section-hot {
  background-color: green;
  height: 177.4rem;
}

.section-event {
  background-color: skyblue;
  height: 42.8rem;
}

.section-favor {
  background-color: pink;
  height: 177.4rem;
}

.section-about {
  background-color: hotpink;
  height: 41.8rem;
}

.footer {
  background-color: yellow;
  height: 25rem;
}
