.header {
  width: 120rem;
  height: 7rem;
  font-size: 1.6rem;
  color: $color-grey-dark-1;
}

.hero {
  width: 120rem;
  min-height: 40rem;
  margin: 7rem auto 0 auto;
}

.main {
  width: 120rem;
  margin: 0 auto;
  display: inline-block;
}

.section-slider {
  background-color: rgba($color-blue-light-1, 0.2);
}

.section-category {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 25rem;
}
