.login {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
  &__box {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 30vh repeat(2, min-content);
    justify-content: center;
    align-content: center;
    grid-row-gap: 2rem;
    padding: 0 2rem;

    &__logo {
      justify-self: center;
      align-self: center;
    }

    &__input {
      display: grid;
      grid-row-gap: 0.6rem;
      &--id,
      &--pw {
        width: 58.8rem;
        outline: none;
        border: 1px solid $color-grey-light-2;
        border-radius: 3px;
        background-color: $color-grey-light-0;
        font-size: $font-medium-2;
        font-family: inherit;
        padding: 1.5rem;

        &::placeholder {
          color: $color-grey-dark-1;
        }
      }

      &--default {
        text-align: center;
        margin-top: 2.6rem;
        margin-bottom: 1.5rem;
      }

      .find {
        font-size: $font-default;
      }
    }

    &__social::before {
      content: "";
      height: 2px;
      display: block;
      background-color: $color-grey-dark-1;
    }

    &__social {
      display: grid;
      grid-row-gap: 1.5rem;

      &--kakao,
      &--google {
        width: 58.8rem;
        height: 7rem;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;

        span {
          position: absolute;
          left: 2.4rem;
        }
      }

      &--kakao {
        background-color: $color-kakao !important;
        color: #000 !important;
      }

      &--google {
        background-color: $color-google !important;
      }
    }

    .signup {
      font-size: $font-medium-2;
      span {
        margin-left: 1.6rem;
        a {
          text-decoration: none;
          color: #000;
          font-weight: 700;
        }
      }
    }
  }
}
