.signup {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form {
    display: grid;
    grid-row-gap: 1.5rem;

    &__label {
      font-size: $font-medium-2;
      font-weight: 500;
      display: block;
      margin-bottom: 0.5rem;
    }

    &__input {
      width: 58.8rem;
      outline: none;
      border: 1px solid $color-grey-light-2;
      border-radius: 3px;
      background-color: $color-grey-light-0;
      font-size: $font-medium-2;
      font-family: inherit;
      padding: 1.5rem;

      &::placeholder {
        color: $color-grey-dark-1;
      }
    }

    .interest {
      .form__label {
        margin-top: 4.8rem;
      }

      &__box {
        display: grid;
        grid-template: repeat(5, min-content) / repeat(3, min-content);
        grid-gap: 2.4rem;
        margin-top: 1.6rem;
      }
    }

    .agreement {
      .form__label {
        margin-top: 4.8rem;
      }

      .form__label::after {
        content: "";
        width: 58.8rem;
        height: 1.3px;
        display: block;
        background-color: $color-grey-light-2;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
      }

      .all,
      .require,
      .option {
        transform: scale(1.5);
        margin-right: 0.5rem;
      }

      &__box {
        display: grid;
        grid-row-gap: 1.4rem;
        font-size: $font-default;

        &__checkbox {
          width: 58.8rem;
          border: 1px solid $color-grey-light-2;
          border-radius: 3px;
          padding: 1.2rem;
        }
      }

      .require + span {
        color: red;
      }

      .paragraph {
        font-size: $font-small-2;
        color: $color-grey-dark-1;
        padding: 1.5rem;
      }
    }

    .btn-signup {
      margin: 9rem 0;
    }
  }
}
