.main__subscribe {
  .section-hero {
    background-color: rgba($color-grey-light-1, 0.3);
    &__box {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-column-gap: 13.6rem;
      justify-content: center;
      padding: 9rem 0;

      &__description {
        &--sub-title {
          font-weight: 500;
        }

        &--title {
          margin-bottom: 6.3rem;
        }

        &--text {
          font-size: $font-medium-2;
        }
      }

      &__img {
        grid-column: 2 /-1;
        align-self: end;
      }
    }
  }

  .section-content {
    background-color: $color-blue-light-1;
    padding: 6rem 0;

    &__container {
      text-align: center;
      position: relative;

      &__sub-title {
        font-weight: 500;
        margin-bottom: 6.6rem;
        line-height: 2;
      }

      &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
