.search {
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 1px solid $color-grey-light-2;
    border-radius: 5px;
    width: 48.6rem;
    height: 5rem;
    margin: 2rem 0;

    &:focus {
      outline: none;
      background-color: #fff;
    }

    &::placeholder {
      font-weight: 300;
      font-size: $font-medium-2;
      color: $color-grey-dark-1;
      padding: 1rem 0.7rem;
    }
  }

  &__btn {
    border: none;
    background: none;
    margin-left: -4.5rem;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: $color-blue-light-2;
  }
}
