.main-slider {
  .slider {
    width: 120rem;
    margin: 0 auto;

    .slide {
      width: 100%;
      padding: 2rem;
      display: flex;
      justify-content: center;

      &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 4.4rem;

        &__name {
          font-size: $font-medium-1;
          font-weight: 500;
        }

        &__title {
          margin: 2.5rem 0;
        }

        &__hashtags--list {
          list-style: none;

          display: flex;
        }

        &__hashtags--item {
          font-size: $font-default;
          flex: 0 0 15%;
        }
      }
    }
  }
}

.recommend-slider {
  .slider {
    width: 120rem;
    margin: 0 auto;
  }

  .slide {
    width: 100%;
    display: flex;

    &__img {
      width: 26rem;
      height: 100%;
    }

    &__description {
      padding-left: 1.6rem;

      display: flex;
      flex-direction: column;
      justify-content: center;

      &__title {
        overflow-wrap: break-word;
        margin-bottom: 1rem;
      }

      &__hashtags--list {
        list-style: none;
        display: flex;
      }

      &__hashtags--item {
        font-size: $font-default;
        flex: 0 0 30%;
      }
    }
  }
}
